.item {
  display: grid;
  gap: 1rem;
}

.total span {
  color: var(--color-purple);
}

.total p {
  color: var(--color-text);
}

.removeItem {
  background: none;
  display: inline-flex;
  align-items: center;
}

#qty {
  width: 50px;
}

#price {
  width: 100px;
}

.itemGrid {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.btnAddToList {
  background-color: var(--color-orange);
  color: var(--color-text);
  display: inline-flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
