.layout {
  margin-bottom: 5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.invo {
  display: grid;
}

.invo span {
  color: var(--color-text);
}

.amount {
  font-size: 0.7rem;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.options button,
.options button span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.options button {
  gap: 0.7rem;
  background-color: var(--color-purple);
  color: #fff;
  padding: 0.6rem;
}

.options button span {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.options button span img:hover {
  animation: spinner 0.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 4rem;
  }

  .invo span {
    font-size: 2rem;
    font-weight: bold;
  }

  .invo .amount {
    font-size: 1rem;
    font-weight: lighter;
  }

  .options button {
    width: 120px;
  }
}
